
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Distribution" content="Global" />
        <meta name="Rating" content="Mature" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="{{ asset('bundles/atminbox/css/css.css') }}">
        {% block stylesheets %}{% endblock stylesheets %}
        {% block headingJS %}{% endblock headingJS %}
        <script type="text/javascript" src="{{ asset('bundles/atminbox/js/jquery-1112.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    </head>
    <body>
        <div class="inner" style="max-width: 1200px;width:100%;display:inline-block;margin:0 auto">
            <div class="wide inbox" style="width:100%">
                <form action="{{ path('atm_inbox_custom_dms') }}" method="post">
                    <textarea id="ta_custom_message"></textarea>

                </form>
            </div>
        </div>
        {% include 'ATMInboxBundle:Inbox:froalaEditorJs.html.twig' with {'selector':'#ta_custom_message','key':froala_key } %}
    </body>
</html>