{% extends 'ATMInboxBundle:Inbox:base.html.twig' %}


{% block inboxButtons %}
    <div class="buts-area">
        <a onclick="history.back()" class="but">< Back</a>
    </div>
{% endblock inboxButtons %}

{% block inboxContent %}
    <form action="{{ path('inbox_write_message') }}" method="post" class="msg-edit" id="frmNewMessage">
        <h1>New Message</h1>
        <div class="cont">
            <fieldset>
                <legend>Subject</legend>
                {{ form_widget(form.subject) }}
            </fieldset>
            <div class="clear"></div>
            <fieldset style="position:relative;">
                <legend>Choose a user</legend>
                <input type="text" id="txSearchUsers" autocomplete="off">
                {% set username = '' %}
                {% set selectedUserVisibility = 'display:none' %}
                {% set userId = '' %}
                {% set selectedUserClass = '' %}
                {% set profileImage = asset('bundles/atminbox/images/noProfilePic.jpg') %}
                {% if user is not null %}
                    {% set selectedUserClass = 'selected' %}
                    {% set username = user.username %}
                    {% set selectedUserVisibility = '' %}
                    {% set userId = user.id %}
                    {% set profileImage = asset('bundles/atminbox/images/noProfilePic.jpg') %}
                {% endif %}
                <div id="selectedUser" style="{{ selectedUserVisibility }}" class="{{ selectedUserClass }}">
                    <img src="{{ profileImage }}" style="width:20px;" class="img">
                    <span>{{ username }}</span>
                    <a id="btnRemoveUser" class="close">x</a>
                </div>
                <div id="searchResults"></div>
                {% if isMMAdmin() %}
                    {% for key, role in sendToAllRoles %}
                        <label style="display: inline-block;margin-right: 10px;">
                            <input type="checkbox" name="sendAll[{{ key }}]" class="chkSendAll" value="{{ role }}">
                            Send to all {{ key }}
                        </label>
                    {% endfor %}
                {% endif %}
            </fieldset>
            <fieldset>
                <legend>Message</legend>
                {{ form_widget(form.body) }}
            </fieldset>
            {{ form_rest(form) }}
            <input type="hidden" id="userId" name="userId" value="{{ userId }}">
            <div class="clear"></div>
            <input type="submit" value="Send" class="but" id="btnSubmit">
        </div>
    </form>
{% endblock inboxContent %}

{% block inboxJavascripts  %}
    {% include 'ATMInboxBundle:Inbox:froalaEditorJs.html.twig' with {'selector':'#atminbox_bundle_message_type_body','key':froala_key} %}
    <script>
        var typingTimer;
        var doneTypingInterval = 500;
        var input = $('#txSearchUsers');

        function doneTyping(){
            var text = $('#txSearchUsers').val();

            $.ajax({
                'url': Routing.generate('inbox_search_user',{ 'searchTerm':text }),
                'type': 'post',
                'dataType': 'html',
                'success': function(data){
                    $('#searchResults').html(data);
                }
            });
        }

        input.on('keyup',function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        });

        input.on('keydown',function () {
            clearTimeout(typingTimer);
        });



        $('#searchResults').on('click','.userItem',function(){
            var userItem = $(this);
            var username = userItem.find('span').text();
            var imgSrc = userItem.find('img').attr('src');

            $('#selectedUser').find('img').attr('src',imgSrc);
            $('#selectedUser').find('span').html(username);
            $('#selectedUser').addClass('selected').show();
            $('#searchResults').html('');
            $('#userId').val(userItem.attr('data-userId'));
            $('#txSearchUsers').attr('style','');
        });

        $('#btnRemoveUser').click(function(e){
            e.preventDefault();

            $('#selectedUser').removeClass('selected').find('img').attr('src','');
            $('#selectedUser').find('span').html('');
            $('#selectedUser').hide();
            $('#userId').val('');
        });

        {% if isMMAdmin() and sendToAllRoles | length > 0 %}
            $('#btnSubmit').click(function(e){
                e.preventDefault();
                var correct = true;
                var sendAllSelected = false;

                $('.chkSendAll').each(function(){
                    if($(this).is(':checked')){
                        sendAllSelected = true;
                    }
                });

                if(!sendAllSelected){
                    correct = false;
                    if(!$('#selectedUser').hasClass('selected')) {
                        $('#txSearchUsers').css('border', '1px solid red');
                        correct = false;
                    }
                }

                if($('#atminbox_bundle_message_type_subject').val() == ''){
                    $('#atminbox_bundle_message_type_subject').css('border','1px solid red');
                    correct = false;
                    $('html, body').animate({
                        scrollTop: $("#atminbox_bundle_message_type_subject").offset().top - 100
                    }, 500);
                }else{
                    $('#atminbox_bundle_message_type_subject').attr('style','');
                }

                if(correct){
                    $('#txSearchUsers').attr('style','');
                    $('.chkSendAll').each(function(){
                        $(this).parent().attr('style','')
                    });
                    $('#frmNewMessage').submit();
                }else{
                    $('.chkSendAll').parent().css('border', '1px solid red');
                }
            });
        {% else %}
        $('#btnSubmit').click(function(e){
            e.preventDefault();
            var correct = true;

            if(!$('#selectedUser').hasClass('selected')) {
                $('#txSearchUsers').css('border', '1px solid red');
                correct = false;
            }

            if($('#atminbox_bundle_message_type_subject').val() == ''){
                $('#atminbox_bundle_message_type_subject').css('border','1px solid red');
                correct = false;
                $('html, body').animate({
                    scrollTop: $("#atminbox_bundle_message_type_subject").offset().top - 100
                }, 500);
            }else{
                $('#atminbox_bundle_message_type_subject').attr('style','');
            }

            if(correct){
                $('#txSearchUsers').attr('style','');
                $('.chkSendAll').each(function(){
                    $(this).parent().attr('style','')
                });
                $('#frmNewMessage').submit();
            }else{
                $('.chkSendAll').parent().css('border', '1px solid red');
            }
        });
        {% endif %}

    </script>
{% endblock inboxJavascripts  %}