{# NEEDED FOR FROALA #}
<link rel="stylesheet" href="{{ asset('bundles/atminbox/plugins/froala_2.1.0/css/froala_editor.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/atminbox/plugins/froala_2.1.0/css/froala_style.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/atminbox/plugins/froala_2.1.0/css/plugins/code_view.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/atminbox/plugins/froala_2.1.0/css/plugins/image_manager.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/atminbox/plugins/froala_2.1.0/css/plugins/image.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/atminbox/plugins/froala_2.1.0/css/plugins/table.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/atminbox/plugins/froala_2.1.0/css/plugins/video.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/atminbox/plugins/froala_2.1.0/css/plugins/colors.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/atminbox/plugins/froala_2.1.0/css/plugins/codemirror.min.css') }}">
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/froala_editor.min.js') }}"></script>
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/plugins/codemirror.min.js') }}"></script>
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/plugins/xml.min.js') }}"></script>
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/plugins/align.min.js') }}"></script>
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/plugins/code_beautifier.min.js') }}"></script>
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/plugins/code_view.min.js') }}"></script>
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/plugins/image.min.js') }}"></script>
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/plugins/image_manager.min.js') }}"></script>
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/plugins/link.min.js') }}"></script>
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/plugins/lists.min.js') }}"></script>
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/plugins/paragraph_format.min.js') }}"></script>
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/plugins/paragraph_style.min.js') }}"></script>
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/plugins/table.min.js') }}"></script>
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/plugins/video.min.js') }}"></script>
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/plugins/url.min.js') }}"></script>
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/plugins/entities.min.js') }}"></script>
<script src="{{ asset('bundles/atminbox/plugins/froala_2.1.0/js/plugins/colors.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function(e) {

        $('{{ selector }}').froalaEditor({
            heightMin: 700,
            height: 700,
            imagePaste: true,
            imageDefaultWidth: 0,
            iframe: true,
            toolbarSticky: false,
            key: '{{ froala_key }}',
            toolbarButtons: ['bold','italic','underline','color','paragraphStyle','paragraphFormat','align','formatOL','formatUL','outdent','indent','insertHR','insertLink','insertImage','multifileuploader','multipleimages','insertVideo','insertTable','undo','redo','clearFormatting','Strikethrough','subscript','Superscript','emoticons','selectAll','html','multifileuploader','emojis'],
            toolbarButtonsXS:['bold','italic','underline','color','paragraphStyle','paragraphFormat','align','formatOL','formatUL','outdent','indent','insertHR','insertLink','insertImage','multifileuploader','multipleimages','insertVideo','insertTable','undo','redo','clearFormatting','Strikethrough','subscript','Superscript','emoticons','selectAll','html','multifileuploader','emojis'],
            toolbarButtonsMD:['bold','italic','underline','color','paragraphStyle','paragraphFormat','align','formatOL','formatUL','outdent','indent','insertHR','insertLink','insertImage','multifileuploader','multipleimages','insertVideo','insertTable','undo','redo','clearFormatting','Strikethrough','subscript','Superscript','emoticons','selectAll','html','multifileuploader','emojis'],
            toolbarButtonsSM:['bold','italic','underline','color','paragraphStyle','paragraphFormat','align','formatOL','formatUL','outdent','indent','insertHR','insertLink','insertImage','multifileuploader','multipleimages','insertVideo','insertTable','undo','redo','clearFormatting','Strikethrough','subscript','Superscript','emoticons','selectAll','html','multifileuploader','emojis'],
            imageUploadParam: 'froala_image_file',
            imageUploadURL: Routing.generate('atm_inbox_froala_upload_image',{ 'folder':'img_messages' }),
            imageUploadMethod: 'POST',
            placeholderText: 'Write something or drop an image',
            enter: $.FroalaEditor.ENTER_BR
        })
        .on('froalaEditor.image.removed', function (e, editor, $img){
            var path = $img.attr('src');
            $.ajax({
                method: 'POST',
                url: Routing.generate('froala_delete_image',{ 'path': encodeURIComponent(path)})
            });
        });
    });
</script>