/* Inbox */
a.but, input.but{float:left;background: #e8e8e8;padding: 6px 10px;border-radius: 7px;color: #000;border-bottom: 1px solid rgba(0, 0, 0, 0.2);font-size: 1rem;cursor: pointer;}
a.but.blue, input.but.blue{background:#2196f3;color:#FFF}
input.but.red, a.but.red{background:#ff4081!important;color:#FFF}
a.but.following{border:2px solid #ff558f;background:none;color:#ff558f;font-size:13px}
a.but.following:hover{background:#ff558f;color:#FFF}
.threequarter       {width: 75%;float: left}
.quarter            {width: 25%;float: left}
h1.block_title.inbox{margin:0 0 5px;padding: 5px 12px 10px}
.inbox{float:left;margin:0 0 50px}
.inbox_menu, .inbox_menu li{float:left;width:100%}
.inbox_menu li .but{background:none;padding-left:0;border: 0;font-size: 1rem}
.inbox_menu li .but.active{font-family: QuicksandBold, Arial, sans-serif;}
.inbox_menu li .but.new{background:#2196f3;color:#FFF;padding-left:10px;margin-bottom: 7px;border-bottom: 1px solid rgba(0, 0, 0, 0.2)}
.inbox_menu li .but.new i{margin-right:7px}
.inbox_menu li .but.new:hover{text-decoration:none;background:#5eb4f9}
.buts-area{margin:0 0 10px;float:left}
.buts-area a{margin:0 8px 0 0;font-size: 1rem}
.buts-area a.delete{background:#ff4081;color:#FFF}

.fr-view {font-family: 'Quicksand', sans-serif}
.msg-list {border-color:#ccc}
.msg-list tr{line-height: 35px}
.msg-list td, .msg-list th{padding:0 5px}
p.noMsg{width:100%;padding:17px;color:#888;font-style:italic;margin: 3px 0 0 0;border-top: 1px solid #ccc;float: left;}

.msg-edit{float: left;width: 100%;border: 1px solid #e2e2e2;position:relative;border-radius: 4px;overflow: hidden;background: #FFF}
.msg-edit a.close{position:absolute;top:0;right:5px;font-size:18px;color:#ccc}
.msg-edit a.close:hover{color:#000}
.msg-edit .cont{padding:35px}
.msg-edit h1{font: normal 1rem/1em QuicksandBold, Arial, sans-serif;margin:0 0 5px;width: 100%;padding: 13px;background: #2196f3;text-align: left;color: #FFF}
.msg-edit fieldset{text-align:left;font-size:1rem;margin:8px 0;float:left}
.msg-edit fieldset.wide{padding:0;position: relative}
.msg-edit fieldset.wide.lock{border-left:7px solid rgb(215, 77, 145);padding-left:10px;margin: 14px 0 15px}
.msg-edit fieldset.wide #selectedUser{background:none;padding: 0;margin: 0 0 0 42px;color: #2196f3}
.msg-edit fieldset.wide a.but.clear{float:right;font-size: 14px;padding: 1px 10px;position: relative;top: -7px;font-family: Quicksand, sans-serif;white-space: nowrap}
.msg-edit fieldset input{border: 1px solid #ccc;padding: 8px 5px;width: auto;border-radius: 4px}
.msg-edit fieldset legend{font-family: QuicksandBold, Arial, sans-serif;width: 100%}
.msg-edit fieldset #tokensToMoney{background:#2196f3;color:#FFF;padding: 6px 10px;float:left;border-radius: 4px;margin: 0 0 0 10px}
.msg-edit fieldset span.descr{float:left;width:100%;font-size:13px;margin:0 0 3px}
.msg-edit fieldset.uploader legend{width:50%}
.msg-edit input.but{background: #2196f3;color: #FFF;cursor: pointer;font-size: 1rem;border: 0;padding: 6px 50px;border-radius: 7px;float: right;margin: 30px 0 ;border-bottom: 4px solid rgba(0, 0, 0, 0.28)}
.msg-edit input.but:hover{opacity:.8}
.msg-edit .msgBody .send{margin:0 30px}
.msg-edit.feed fieldset{margin:0}
.msg-edit.feed input.but{margin:20px}
.msg-edit fieldset legend.inline{float:left;font-family: Quicksand, Arial, sans-serif}
.msg-edit fieldset.lock input{margin:6px}
.msg-edit fieldset.wide.summary textarea{border:1px solid #e2e2e2;resize:vertical;width:100%;max-width:400px;min-height:50px;padding:4px;font-size:13px}
.msg-edit fieldset.descr textarea{border: 1px solid #ccc;padding: 8px 5px;width: 100%;max-width: 100%;border-radius: 4px;resize: vertical;min-height: 350px}
.ui-datepicker td a{float:none}
.msg-edit fieldset.datePicker {background:none}
.msg-edit fieldset.datePicker input{padding-right: 40px;font-size: 15px;padding-left: 7px;overflow: visible;width: 240px;position: relative;z-index: 2}
.msg-edit fieldset.datePicker i{position: relative;left: -23px;top: 26px;z-index: 2;color: #666}
.msg-edit .imgPreview{margin-top:10px}
.msg-edit #uploader,.msg-edit #uploaderLocked{position:relative;overflow:hidden;min-height: 350px;background:transparent;border:2px dashed #e8e8e8;cursor:pointer;padding:5px;color:#555;font-family:'Segoe UI', sans-serif;font-weight:bold;width:100%;height: auto}
.msg-edit #uploader:hover,.msg-edit #uploaderLocked:hover{color:#000}
.msg-edit #uploader span,.msg-edit #uploaderLocked span{position:absolute;left:50%;top:50%;z-index:0;cursor: pointer;-ms-transform: translateX(-50%) translateY(-50%);-moz-transform: translateX(-50%) translateY(-50%);-webkit-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);color: #000;opacity: .5;background: #f7f5f3;text-align: center;padding: 5px;border-radius: 4px}
#previewImages img,#previewLockedImages img{width: 100%;height: auto;max-width:150px;margin:0 5px 5px}
.imagesErrors p, .imagesLockedErrors p{margin:7px 0 0 0;color: #ff4081;font-size:14px;width:100%}
.imagesErrors p i,  .imagesLockedErrors p i{font-size:22px}
.xlabs_warning{margin: 20px 0 0;font: normal 13px/13px Quicksand, sans-serif}
.xlabs_warning i{color:#ef4681}
.msg-edit .resumable-drop a{float:none}
.msg-edit fieldset .thumbnails img{width:25%}
.msg-edit .cont .msgInfo{margin:20px 0 0}
.msg-edit .cont .option1, .msg-edit .cont .option2{padding-left: 32px}
.msg-edit .cont .option1 span.num, .msg-edit .cont .option2 span.num{position:absolute;left:0;top:0;background: #d74d91;color: #FFF;padding: 4px;font-size: 21px;height: 100%;font-family: LatoLight, Arial, sans-serif}
.msg-edit .cont .option2 span.num{background:#ff4081}

.msg-edit fieldset .classicMode input{margin: 0 1% 10px;width:48%}
.msg-edit fieldset.wide .classicMode a.but{float:left;width: 48%;top: inherit;padding: 8px 5px;margin: 0 1% 10px;display: inline-block;text-align: center;background: #2196f3;color: #FFF}
.msg-edit .thumbnails{}
.msg-edit .thumbnails ul{width: 100%}
.msg-edit .thumbnails ul li{border:1px solid #e2e2e2;border-radius:4px;width: 290px;height: 290px;display: inline-block;float: left;position:relative;overflow: hidden;text-align: center;margin: 0 15px 14px 0;background: rgba(226, 226, 226, 0.33)}
.msg-edit .thumbnails ul li .imgCont{position:absolute;top:0;left:0;bottom:0;right:0;margin: auto;display: block}
.msg-edit .thumbnails ul li .imgCont::before{}
.msg-edit .thumbnails ul li img{width: auto;float: none;display: inline-block;margin: 0;max-height: 290px;max-width: 290px;-ms-transform: translateX(-50%) translateY(-50%);-moz-transform: translateX(-50%) translateY(-50%);-webkit-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);left: 50%;top: 50%;position: absolute}
.msg-edit .thumbnails ul li i{position: relative;z-index: 999;color: #FFF;text-shadow: 0 1px 1px rgb(0, 0, 0);opacity: 0;font-size: 16px;cursor: pointer;float: left;margin: 3px 6px}
.msg-edit .thumbnails ul li i:hover{font-size:17px}
.msg-edit .thumbnails ul li:hover i{opacity:1}
.msg-edit .thumbnails ul li a.btnSaveRotation{position: absolute;bottom: 5px;right: 5px;background: #2196f3;color: #FFF;font-size: 13px;padding: 0 10px;border-radius: 4px}
.msg-edit .thumbnails ul li a.btnUndoRotation{position: absolute;bottom: 5px;right: 55px;background: #2196f3;color: #FFF;font-size: 13px;padding: 0 10px;border-radius: 4px}


.error{border: 1px solid #ff4081 !important}
.error i{color:#ff4081}
label.error{ border: 0!important; font-size: 11px; color: #ff4081; }
.success{border: 1px solid #2196f3 !important}

.selectC {position: relative;display: inline-block;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-khtml-border-radius: 4px;border: 1px solid #ccc;width: auto;font: 500 12px/22px Open Sans, Arial, sans-serif;cursor: pointer;position: relative}
.selectC select {display: inline-block;border: 0;background: none;color: #000;padding: 6px 37px 7px 8px;z-index: 2;position: relative;font-size: 12px;cursor: pointer;line-height: 14px;white-space: nowrap;font-family: Quicksand, Arial, sans-serif;}
.selectC::before {z-index: 1;content: "";width: 25px;height: 27px;position: absolute;right: 0;top: 0;background: url(/media/bikinifanatics/assets/images/caret_down.svg) no-repeat center center;border-left: 1px solid rgba(0, 0, 0, 0.31);background-size: 12px}

.msg-edit.promote{border:0;padding:0;overflow: visible;background: none}
.msg-edit.promote .cont{padding:0;float:left;width: 100%}
.msg-edit.promote .half{float:left;width: 48%;margin: 0 1% 20px}
.msg-edit.promote .wide>.half, .msg-edit.tokens .wide>.quarter .cont{padding: 27px 20px 10px;border-radius:4px;position: relative;margin: 10px 1% 26px;box-shadow: 0 0 11px rgba(0, 0, 0, 0.29);background: #FFF}
.msg-edit.promote .wide>.half:hover{border-color: #2196F3}
.msg-edit.promote .wide>.half:hover p.title{background:#2196F3;color:#FFF}
.msg-edit.promote .wide>.half:last-child{width: 98%;display:inline-block}
.msg-edit.promote .half p.title, .msg-edit.tokens .wide>.quarter p.title{margin:0 0 9px;position: absolute;top: -15px;left: 20px;background: #d2d2d2;padding: 5px 10px;width: auto;font-size: 13px;border-radius: 4px}
.msg-edit.promote .half fieldset{margin: 0 1% 10px;float:left;width: 48%;position: relative}
.msg-edit.promote .half.payment fieldset{height:54px}
.msg-edit.promote .half fieldset span.msg{color:#ff4081;position:absolute;font-size: 11px;line-height: 13px;top: -15px;left: 3px;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.msg-edit.promote .half fieldset input, .msg-edit.promote .half fieldset select{width: 100%}
.msg-edit.promote .half fieldset label{font-size:12px;margin:0 0 6px;width:100%}
.msg-edit.promote input.but{float:none}

.msg-edit.tokens{margin-bottom:60px;overflow: visible;background: none}
.msg-edit.tokens .wide>.quarter{width:23%;padding: 0;border:0;margin: 0 1% 20px}
.msg-edit.tokens .wide>.quarter .cont{position:relative;padding: 29px 20px 70px;width:100%;height: auto;float:left;margin: 0;background: #FFF}
.msg-edit.tokens .wide>.quarter.best .cont{border-color:rgba(255, 64, 129, 0.28);position: relative;top: 0;background: #FFF}
.msg-edit.tokens .wide>.quarter.best p.title{background:#ff4081;color:#FFF}
.msg-edit.tokens .wide>.quarter.best p.title img{width:10px;margin:3px 7px 0 0}
.msg-edit.tokens .wide>.quarter p{width:100%;text-align:center}
.msg-edit.tokens .wide>.quarter p.price{border: 2px solid #2196f3;border-radius: 1000px;width: 100px;height: 100px;padding-top: 15px;float: none}
.msg-edit.tokens .wide>.quarter.best p.price{border: 2px solid #ff4081;border-radius:1000px;width:100px;height:100px;padding-top: 15px}
.msg-edit.tokens .wide>.quarter.best p.price span:first-child{letter-spacing:-1px;color: #ff4081}
.msg-edit.tokens .wide>.quarter.best p.price span{color:#ff4081;border-color:#ff4081}
.msg-edit.tokens .wide>.quarter:hover .cont{    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.29);position:relative;top:-5px}
.msg-edit.tokens .wide>.quarter.best:hover .cont{border-color:#ff4081}
.msg-edit.tokens .wide>.quarter .price span.num{font-size:2rem;font-family:QuicksandBold, Arial, sans-serif;text-align:center;width:100%;border: 0;padding: 0;color: #2196f3}
.msg-edit.tokens .wide>.quarter .price span{font: normal 14px/1em Quicksand, Arial, sans-serif;width: auto;float: none;margin:5px 0 0 0;display: inline-block;border-top: 1px solid #2196f3;padding: 8px 0 0 0;color: #2196f3}
.msg-edit.tokens .wide>.quarter p.price2{font-family:QuicksandBold, Arial, sans-serif;margin: 23px 0 0 0}
.msg-edit.tokens .wide>.quarter a.but{border-bottom-width:5px;background:#2196f3;color:#FFF;padding:5px 20px;height: 39px;float: none;margin: 13px 0 4px 0}
.msg-edit.tokens .wide>.quarter a.but:hover{position:relative;top:4px;border-bottom:0}
.msg-edit.tokens .wide>.quarter.best a.but{background:#ff4081}
.msg-edit.tokens .wide>.quarter p.free{position:absolute;left:0;bottom:0;padding: 15px 0;background: rgba(204, 204, 204, 0.58);font-size: 16px;font-style: italic;background: rgb(244,244,244);background: -moz-linear-gradient(-45deg, rgba(244,244,244,1) 0%, rgba(193,193,193,1) 59%, rgba(244,244,244,1) 100%);background: -webkit-linear-gradient(-45deg, rgba(244,244,244,1) 0%,rgba(193,193,193,1) 59%,rgba(244,244,244,1) 100%);background: linear-gradient(135deg, rgba(244,244,244,1) 0%,rgba(193,193,193,1) 59%,rgba(244,244,244,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f4f4f4',GradientType=1 );color: #383232;border-top: 1px solid rgba(0, 0, 0, 0.02);border-radius: 0 0 3px 3px;overflow: hidden;margin-left: 0}
.msg-edit.tokens .wide>.quarter.best p.free{color: rgb(255, 255, 255);font-family:'QuicksandBold', Arial,sans-serif;background: rgb(255,175,202);background: -moz-linear-gradient(-45deg, rgba(255,175,202,1) 0%, rgba(255,64,129,1) 58%, rgba(255,175,202,1) 100%);background: -webkit-linear-gradient(-45deg, rgba(255,175,202,1) 0%,rgba(255,64,129,1) 58%,rgba(255,175,202,1) 100%);background: linear-gradient(135deg, rgba(255,175,202,1) 0%,rgba(255,64,129,1) 58%,rgba(255,175,202,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffafca', endColorstr='#ffafca',GradientType=1 )}
.msg-edit.promote .wide>.half.payment.edit{width:48%}
.msg-edit.promote .half.payment.edit fieldset{width:98%}

.msg-edit .TOSUpload{float:left;width: 100%}
.msg-edit .TOSUpload *{float:left}
.msg-edit .TOSUpload label{margin:0 0 0 5px}
.msg-edit .TOSUpload a{float:none;display:inline-block;text-decoration:underline;color:#2196f3 }
a.but, input.but{background: #e8e8e8;padding: 6px 10px;border-radius: 7px;color: #000;border-bottom: 1px solid rgba(0, 0, 0, 0.2);font-size: 1rem;cursor: pointer;}
a.but.blue, input.but.blue{background:#2196f3;color:#FFF}
input.but.red, a.but.red{background:#ff4081!important;color:#FFF}
a.but.following{border:2px solid #ff558f;background:none;color:#ff558f;font-size:13px}
a.but.following:hover{background:#ff558f;color:#FFF}


/* Inbox */
h1.block_title.inbox{margin:0 0 5px;padding: 5px 12px 10px}
.inbox{float:left;margin:0 0 50px}
.inbox_menu, .inbox_menu li{width:100%}
.inbox_menu li .but{background:none;padding-left:0;border: 0;font-size: 1rem}
.inbox_menu li .but.active{font-family: QuicksandBold, Arial, sans-serif;}
.inbox_menu li .but.new{background:#2196f3;color:#FFF;padding-left:10px;margin-bottom: 7px;border-bottom: 1px solid rgba(0, 0, 0, 0.2)}
.inbox_menu li .but.new i{margin-right:7px}
.inbox_menu li .but.new:hover{text-decoration:none;background:#5eb4f9}
.buts-area{margin:0 0 10px;float:left}
.buts-area a{margin:0 8px 0 0;font-size: 1rem}
.buts-area a.delete{background:#ff4081;color:#FFF}

.fr-view {font-family: 'Quicksand', sans-serif}
.msg-list {border-color:#ccc}
.msg-list tr{line-height: 35px}
.msg-list td, .msg-list th{padding:0 5px}
p.noMsg{width:100%;padding:17px;color:#888;font-style:italic;margin: 3px 0 0 0;border-top: 1px solid #ccc}

.msg-edit{float: left;width: 100%;border: 1px solid #e2e2e2;position:relative;border-radius: 4px;overflow: hidden;background: #FFF}
.msg-edit a.close{position:absolute;top:0;right:5px;font-size:18px;color:#ccc}
.msg-edit a.close:hover{color:#000}
.msg-edit .cont{padding:35px}
.msg-edit h1{font: normal 1rem/1em QuicksandBold, Arial, sans-serif;margin:0 0 5px;width: 100%;padding: 13px;background: #2196f3;text-align: left;color: #FFF}
.msg-edit fieldset{text-align:left;font-size:1rem;margin:8px 0;float:left}
.msg-edit fieldset.wide{padding:0;position: relative}
.msg-edit fieldset.wide.lock{border-left:7px solid rgb(215, 77, 145);padding-left:10px;margin: 14px 0 15px}
.msg-edit fieldset.wide #selectedUser{background:none;padding: 0;margin: 0 0 0 42px;color: #2196f3}
.msg-edit fieldset.wide a.but.clear{float:right;font-size: 14px;padding: 1px 10px;position: relative;top: -7px;font-family: Quicksand, sans-serif;white-space: nowrap}
.msg-edit fieldset input{border: 1px solid #ccc;padding: 8px 5px;width: auto;border-radius: 4px}
.msg-edit fieldset legend{font-family: QuicksandBold, Arial, sans-serif;width: 100%}
.msg-edit fieldset #tokensToMoney{background:#2196f3;color:#FFF;padding: 6px 10px;float:left;border-radius: 4px;margin: 0 0 0 10px}
.msg-edit fieldset span.descr{float:left;width:100%;font-size:13px;margin:0 0 3px}
.msg-edit fieldset.uploader legend{width:50%}
.msg-edit input.but{background: #2196f3;color: #FFF;cursor: pointer;font-size: 1rem;border: 0;padding: 6px 50px;border-radius: 7px;float: right;margin: 30px 0 ;border-bottom: 4px solid rgba(0, 0, 0, 0.28)}
.msg-edit input.but:hover{opacity:.8}
.msg-edit .msgBody .send{margin:0 30px}
.msg-edit.feed fieldset{margin:0}
.msg-edit.feed input.but{margin:20px}
.msg-edit fieldset legend.inline{float:left;font-family: Quicksand, Arial, sans-serif}
.msg-edit fieldset.lock input{margin:6px}
.msg-edit fieldset.wide.summary textarea{border:1px solid #e2e2e2;resize:vertical;width:100%;max-width:400px;min-height:50px;padding:4px;font-size:13px}
.msg-edit fieldset.descr textarea{border: 1px solid #ccc;padding: 8px 5px;width: 100%;max-width: 100%;border-radius: 4px;resize: vertical;min-height: 350px}
.ui-datepicker td a{float:none}
.msg-edit fieldset.datePicker {background:none}
.msg-edit fieldset.datePicker input{padding-right: 40px;font-size: 15px;padding-left: 7px;overflow: visible;width: 240px;position: relative;z-index: 2}
.msg-edit fieldset.datePicker i{position: relative;left: -23px;top: 26px;z-index: 2;color: #666}
.msg-edit .imgPreview{margin-top:10px}
.msg-edit #uploader,.msg-edit #uploaderLocked{position:relative;overflow:hidden;min-height: 350px;background:transparent;border:2px dashed #e8e8e8;cursor:pointer;padding:5px;color:#555;font-family:'Segoe UI', sans-serif;font-weight:bold;width:100%;height: auto}
.msg-edit #uploader:hover,.msg-edit #uploaderLocked:hover{color:#000}
.msg-edit #uploader span,.msg-edit #uploaderLocked span{position:absolute;left:50%;top:50%;z-index:0;cursor: pointer;-ms-transform: translateX(-50%) translateY(-50%);-moz-transform: translateX(-50%) translateY(-50%);-webkit-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);color: #000;opacity: .5;background: #f7f5f3;text-align: center;padding: 5px;border-radius: 4px}
#previewImages img,#previewLockedImages img{width: 100%;height: auto;max-width:150px;margin:0 5px 5px}
.imagesErrors p, .imagesLockedErrors p{margin:7px 0 0 0;color: #ff4081;font-size:14px;width:100%}
.imagesErrors p i,  .imagesLockedErrors p i{font-size:22px}
.xlabs_warning{margin: 20px 0 0;font: normal 13px/13px Quicksand, sans-serif}
.xlabs_warning i{color:#ef4681}
.msg-edit .resumable-drop a{float:none}
.msg-edit fieldset .thumbnails img{width:25%}
.msg-edit .cont .msgInfo{margin:20px 0 0}
.msg-edit .cont .option1, .msg-edit .cont .option2{padding-left: 32px}
.msg-edit .cont .option1 span.num, .msg-edit .cont .option2 span.num{position:absolute;left:0;top:0;background: #d74d91;color: #FFF;padding: 4px;font-size: 21px;height: 100%;font-family: LatoLight, Arial, sans-serif}
.msg-edit .cont .option2 span.num{background:#ff4081}

.msg-edit fieldset .classicMode input{margin: 0 1% 10px;width:48%}
.msg-edit fieldset.wide .classicMode a.but{float:left;width: 48%;top: inherit;padding: 8px 5px;margin: 0 1% 10px;display: inline-block;text-align: center;background: #2196f3;color: #FFF}
.msg-edit .thumbnails{}
.msg-edit .thumbnails ul{width: 100%}
.msg-edit .thumbnails ul li{border:1px solid #e2e2e2;border-radius:4px;width: 290px;height: 290px;display: inline-block;float: left;position:relative;overflow: hidden;text-align: center;margin: 0 15px 14px 0;background: rgba(226, 226, 226, 0.33)}
.msg-edit .thumbnails ul li .imgCont{position:absolute;top:0;left:0;bottom:0;right:0;margin: auto;display: block}
.msg-edit .thumbnails ul li .imgCont::before{}
.msg-edit .thumbnails ul li img{width: auto;float: none;display: inline-block;margin: 0;max-height: 290px;max-width: 290px;-ms-transform: translateX(-50%) translateY(-50%);-moz-transform: translateX(-50%) translateY(-50%);-webkit-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);left: 50%;top: 50%;position: absolute}
.msg-edit .thumbnails ul li i{position: relative;z-index: 999;color: #FFF;text-shadow: 0 1px 1px rgb(0, 0, 0);opacity: 0;font-size: 16px;cursor: pointer;float: left;margin: 3px 6px}
.msg-edit .thumbnails ul li i:hover{font-size:17px}
.msg-edit .thumbnails ul li:hover i{opacity:1}
.msg-edit .thumbnails ul li a.btnSaveRotation{position: absolute;bottom: 5px;right: 5px;background: #2196f3;color: #FFF;font-size: 13px;padding: 0 10px;border-radius: 4px}
.msg-edit .thumbnails ul li a.btnUndoRotation{position: absolute;bottom: 5px;right: 55px;background: #2196f3;color: #FFF;font-size: 13px;padding: 0 10px;border-radius: 4px}


.error{border: 1px solid #ff4081 !important}
.error i{color:#ff4081}
label.error{ border: 0!important; font-size: 11px; color: #ff4081; }
.success{border: 1px solid #2196f3 !important}

.selectC {position: relative;display: inline-block;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-khtml-border-radius: 4px;border: 1px solid #ccc;width: auto;font: 500 12px/22px Open Sans, Arial, sans-serif;cursor: pointer;position: relative}
.selectC select {display: inline-block;border: 0;background: none;color: #000;padding: 6px 37px 7px 8px;z-index: 2;position: relative;font-size: 12px;cursor: pointer;line-height: 14px;white-space: nowrap;font-family: Quicksand, Arial, sans-serif;}
.selectC::before {z-index: 1;content: "";width: 25px;height: 27px;position: absolute;right: 0;top: 0;background: url(/media/bikinifanatics/assets/images/caret_down.svg) no-repeat center center;border-left: 1px solid rgba(0, 0, 0, 0.31);background-size: 12px}

.msg-edit.promote{border:0;padding:0;overflow: visible;background: none}
.msg-edit.promote .cont{padding:0;float:left;width: 100%}
.msg-edit.promote .half{float:left;width: 48%;margin: 0 1% 20px}
.msg-edit.promote .wide>.half, .msg-edit.tokens .wide>.quarter .cont{padding: 27px 20px 10px;border-radius:4px;position: relative;margin: 10px 1% 26px;box-shadow: 0 0 11px rgba(0, 0, 0, 0.29);background: #FFF}
.msg-edit.promote .wide>.half:hover{border-color: #2196F3}
.msg-edit.promote .wide>.half:hover p.title{background:#2196F3;color:#FFF}
.msg-edit.promote .wide>.half:last-child{width: 98%;display:inline-block}
.msg-edit.promote .half p.title, .msg-edit.tokens .wide>.quarter p.title{margin:0 0 9px;position: absolute;top: -15px;left: 20px;background: #d2d2d2;padding: 5px 10px;width: auto;font-size: 13px;border-radius: 4px}
.msg-edit.promote .half fieldset{margin: 0 1% 10px;float:left;width: 48%;position: relative}
.msg-edit.promote .half.payment fieldset{height:54px}
.msg-edit.promote .half fieldset span.msg{color:#ff4081;position:absolute;font-size: 11px;line-height: 13px;top: -15px;left: 3px;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.msg-edit.promote .half fieldset input, .msg-edit.promote .half fieldset select{width: 100%}
.msg-edit.promote .half fieldset label{font-size:12px;margin:0 0 6px;width:100%}
.msg-edit.promote input.but{float:none}

.msg-edit.tokens{margin-bottom:60px;overflow: visible;background: none}
.msg-edit.tokens .wide>.quarter{width:23%;padding: 0;border:0;margin: 0 1% 20px}
.msg-edit.tokens .wide>.quarter .cont{position:relative;padding: 29px 20px 70px;width:100%;height: auto;float:left;margin: 0;background: #FFF}
.msg-edit.tokens .wide>.quarter.best .cont{border-color:rgba(255, 64, 129, 0.28);position: relative;top: 0;background: #FFF}
.msg-edit.tokens .wide>.quarter.best p.title{background:#ff4081;color:#FFF}
.msg-edit.tokens .wide>.quarter.best p.title img{width:10px;margin:3px 7px 0 0}
.msg-edit.tokens .wide>.quarter p{width:100%;text-align:center}
.msg-edit.tokens .wide>.quarter p.price{border: 2px solid #2196f3;border-radius: 1000px;width: 100px;height: 100px;padding-top: 15px;float: none}
.msg-edit.tokens .wide>.quarter.best p.price{border: 2px solid #ff4081;border-radius:1000px;width:100px;height:100px;padding-top: 15px}
.msg-edit.tokens .wide>.quarter.best p.price span:first-child{letter-spacing:-1px;color: #ff4081}
.msg-edit.tokens .wide>.quarter.best p.price span{color:#ff4081;border-color:#ff4081}
.msg-edit.tokens .wide>.quarter:hover .cont{    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.29);position:relative;top:-5px}
.msg-edit.tokens .wide>.quarter.best:hover .cont{border-color:#ff4081}
.msg-edit.tokens .wide>.quarter .price span.num{font-size:2rem;font-family:QuicksandBold, Arial, sans-serif;text-align:center;width:100%;border: 0;padding: 0;color: #2196f3}
.msg-edit.tokens .wide>.quarter .price span{font: normal 14px/1em Quicksand, Arial, sans-serif;width: auto;float: none;margin:5px 0 0 0;display: inline-block;border-top: 1px solid #2196f3;padding: 8px 0 0 0;color: #2196f3}
.msg-edit.tokens .wide>.quarter p.price2{font-family:QuicksandBold, Arial, sans-serif;margin: 23px 0 0 0}
.msg-edit.tokens .wide>.quarter a.but{border-bottom-width:5px;background:#2196f3;color:#FFF;padding:5px 20px;height: 39px;float: none;margin: 13px 0 4px 0}
.msg-edit.tokens .wide>.quarter a.but:hover{position:relative;top:4px;border-bottom:0}
.msg-edit.tokens .wide>.quarter.best a.but{background:#ff4081}
.msg-edit.tokens .wide>.quarter p.free{position:absolute;left:0;bottom:0;padding: 15px 0;background: rgba(204, 204, 204, 0.58);font-size: 16px;font-style: italic;background: rgb(244,244,244);background: -moz-linear-gradient(-45deg, rgba(244,244,244,1) 0%, rgba(193,193,193,1) 59%, rgba(244,244,244,1) 100%);background: -webkit-linear-gradient(-45deg, rgba(244,244,244,1) 0%,rgba(193,193,193,1) 59%,rgba(244,244,244,1) 100%);background: linear-gradient(135deg, rgba(244,244,244,1) 0%,rgba(193,193,193,1) 59%,rgba(244,244,244,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f4f4f4',GradientType=1 );color: #383232;border-top: 1px solid rgba(0, 0, 0, 0.02);border-radius: 0 0 3px 3px;overflow: hidden;margin-left: 0}
.msg-edit.tokens .wide>.quarter.best p.free{color: rgb(255, 255, 255);font-family:'QuicksandBold', Arial,sans-serif;background: rgb(255,175,202);background: -moz-linear-gradient(-45deg, rgba(255,175,202,1) 0%, rgba(255,64,129,1) 58%, rgba(255,175,202,1) 100%);background: -webkit-linear-gradient(-45deg, rgba(255,175,202,1) 0%,rgba(255,64,129,1) 58%,rgba(255,175,202,1) 100%);background: linear-gradient(135deg, rgba(255,175,202,1) 0%,rgba(255,64,129,1) 58%,rgba(255,175,202,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffafca', endColorstr='#ffafca',GradientType=1 )}
.msg-edit.promote .wide>.half.payment.edit{width:48%}
.msg-edit.promote .half.payment.edit fieldset{width:98%}

.msg-edit .TOSUpload{float:left;width: 100%}
.msg-edit .TOSUpload *{float:left}
.msg-edit .TOSUpload label{margin:0 0 0 5px}
.msg-edit .TOSUpload a{float:none;display:inline-block;text-decoration:underline;color:#2196f3 }

.threequarter       {width: 75%;float: left}
.quarter            {width: 25%;float: left}

#selectedUser{position:relative;float: left;padding: 5px 16px 3px 5px;background: #f7f5f3;margin: 0 6px;border-radius: 7px;font-size:15px}
#searchResults img, #selectedUser .img{border-radius: 1000px;margin:0 6px 0 0;width:22px;vertical-align:middle}
#selectedUser .close{float:right;position: absolute;top: 0;right: 4px;line-height: 1em}
#searchResults{position: absolute;z-index: 9;width: auto;top: 63px;box-shadow: 0 3px 3px rgba(37, 33, 30, 0.12);cursor: pointer;max-height: 550px;overflow-y: scroll;}
#searchResults>div{background:#f7f5f3;padding:5px;white-space: nowrap;}
#searchResults>div:hover{background:#FFF}