{% set class = '' %}
{% if not conversation.isRead %}
    {% set class = 'cvunread' %}
{% endif %}

<div class="conversationItem {{ class }}">
    <div class="msgHeader msgHeaderAll">
        <input type="checkbox" class="chkMessage" data-conversation-id="{{ conversation.id }}" style="float:left;margin-top:10px;margin-right:10px;">
        {% set cvmessages = [] %}
        {% for conversationMessage in conversation.conversationMessages %}
            {% if conversationMessage.user.id == app.user.id %}
                {% set cvmessages = cvmessages | merge([conversationMessage]) %}
            {% endif %}
        {% endfor %}
        <span class="user">{{ conversation.author.username }} ({{ cvmessages | length }})</span>
        <p class="subject">{{ conversation.subject }}</p>
        <span class="date">{{ conversation.creationdate | date('d-m-Y H:i:s') }}</span>
    </div>
    <div class="messagesContainer" style="display:none">
        {% for conversationMessage in cvmessages %}
            {% include 'ATMInboxBundle:Inbox/item:inboxItem.html.twig' with { 'conversationMessage' : conversationMessage } %}
        {% endfor %}
    </div>
</div>