{% set conversationMessage = message.conversationMessages[0] %}

{% if not conversationMessage.isRead %}
    {% set class = 'unread' %}
{% else %}
    {% set class = '' %}
{% endif %}
<div class="messageItem {{ class }}" data-url="{{ path('inbox_see_message_body', { 'messageId':message.id }) }}">
    <div class="msgHeader">
        <input type="checkbox" class="chkMessage" data-conversation-id="{{ conversationMessage.id }}">
        <span class="user">{{ message.receiver.username }}</span>
        <p class="subject">{{ message.subject }}</p>
        <span class="date"> {{ message.creationdate | date('d-m-Y H:i:s') }}</span>
    </div>
</div>